.header .arrow {
  width: 2.67vw;
  height: 4.67vw;
  position: absolute;
  top: 50%;
  left: 2.93vw;
  transform: translateY(-50%);
}
.header {
  position: relative;
  text-align: center;
  padding: 2.4vw 2.93vw;
  background-color: #fafafa;
}
.header .title {
  font-size: 3.73vw;
  color: #555555;
}
.favor-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.favor-list li {
  width: 50vw;
  box-sizing: border-box;
  padding: 2.4vw 3.2vw 5.2vw 3.2vw;
  border-right: 0.27vw solid #f5f5f5;
  border-bottom: 0.27vw solid #f5f5f5;
}
.favor-list li .photo {
  max-width: 100%;
}
.favor-list li:nth-child(2n) {
  border-right: 0;
}
.favor-list .name {
  padding: 2vw 0;
  font-size: 3.47vw;
  color: #555;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.favor-list .description {
  font-size: 2.67vw;
  color: #999;
  margin-bottom: 4.4vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.favor-list .price {
  font-size: 3.47vw;
  color: #c55a5c;
}
.absolute {
  position: absolute;
}
.favor-list .remove {
  right: 2vw;
  top: 1.87vw;
  width: 4.4vw;
  height: 4.13vw;
}
.relative {
  position: relative;
}
