.header .arrow {
	width: 2.67vw;
	height: 4.67vw;
	position: absolute;
	top: 50%;
	left: 2.93vw;
	transform: translateY(-50%);
}

.header .title {
	font-size: 3.73vw;
	color: #555555;
}

.header {
	position: relative;
	text-align: center;
	padding: 2.4vw 2.93vw;
	background-color: #fbfbfb;
}

.search_body {
	padding: 0 2.8vw 0 2.67vw;
}

.search_icon {
	padding: 2.4vw;
	background-color: #c55a5c;
	border-radius: 0.53vw;
	text-align: center;
}

.search_icon img {
	width: 4.13vw;
	height: 4.13vw;
}

.search_body .search_frame_box {
	display: flex;
	justify-content: space-between;
}

.search_body .search_frame {
	width: 74.14vw;
	height: 8.93vw;
	font-size: 3.47vw;
	border: none;
	border-radius: 50px;
	background-color: #f4f8f7;
	padding: 0 3.33vw;
}

.hot_text {
	font-size: 3.47vw;
	color: #999999;
	padding: 3.47vw 0 4.67vw 0;
}

.hot_list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.hot_list li {
	padding: 1.87vw 2.27vw;
	border-radius: 0.67vw;
	border: solid 0.13vw #e4e4e4;
	margin: 0 1.33vw 1.33vw 0;
	box-sizing: border-box;
	font-size: 2.93vw;
	color: #c8c8c8;
}
